# Use postgres/example user/password credentials
version: '3.1'

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: ${PRC_DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis/redis-stack:latest
    restart: always
    volumes: 
      - redis:/data
  minio:
    image: minio/minio
    restart: always
    environment:
      MINIO_ROOT_USER: ${PRC_MINIO_ACCESSKEY}
      MINIO_ROOT_PASSWORD: ${PRC_MINIO_SECRETKEY}
    volumes:
      - minio-data:/data
    command: server /data
  minio-init:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until (/usr/bin/mc alias set myminio http://minio:9000 $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD) do echo 'Waiting for minio...' && sleep 2; done;
      /usr/bin/mc mb myminio/${PRC_MINIO_BUCKET_NAME};
      /usr/bin/mc mb myminio/${PRC_MINIO_BUCKET_NAME_NOTES};
      /usr/bin/mc mb myminio/${PRC_MINIO_BUCKET_NAME_DOCUMENTS};
      /usr/bin/mc mb myminio/${PRC_MINIO_BUCKET_NAME_VIDEOS};
      "
  backend:
    image: registry.britenet.com.pl/frontend/procareful-backend:develop
    build:
      dockerfile: Dockerfile
      context: .
      args:
        PRC_APP_VERSION: develop
    env_file:
      - .env
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - db
    restart: always  
  ml:
    image: registry.britenet.com.pl/bi/ml/procareful:dev
    environment:
      PRC_DOMAIN: ${BE_HOSTNAME}
      BE_TOKEN: ${BE_TOKEN}
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      - backend
    restart: always
volumes:
  redis:
    driver: local
  pgdata:
    driver: local
  minio-data: 
    driver: local